<app-league   *ngIf="league && componentToDisplay === 'league'"
              [league]="league"
              (choseClub)="choseClubForDisplay($event)"
></app-league>

<app-club   *ngIf="chosenClub && componentToDisplay === 'club'"
              [club]="chosenClub"
              (backEvent)="displayLeague($event)"
              (marketEvent)="displayMarket($event)"
></app-club>

<app-market   *ngIf="componentToDisplay === 'market'"
              [footballMarket]="league.footballMarket"
              [clubWantedToBuy]="chosenClub"
              (backEvent)="displayLeague($event)"
              (saleEvent)="salePlayer($event)"
></app-market>



